div#client-helptopic>span.textbox.combo{
    height: 34px !important;
    width: 90%  !important;
    
}
.combo-p{
    margin-top:-75px !important;
}



div#client-helptopic .textbox .textbox-text
{
  font-size: 14px !important;
}

.panel {
  position:absolute;
  overflow: hidden;
  text-align: left;
  margin: 0;
  border: 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.panel-header,
.panel-body {
  border-width: 1px;
  border-style: solid;
}
.panel-header {
  padding: 5px;
  position: relative;
}
.panel-title {
  background: url('/images/blank.gif') no-repeat;
}
.panel-header-noborder {
  border-width: 0 0 1px 0;
}
.panel-body {
  overflow: auto;
  border-top-width: 0;
  padding: 0;
}
.panel-body-noheader {
  border-top-width: 1px;
}
.panel-body-noborder {
  border-width: 0px;
}
.panel-body-nobottom {
  border-bottom-width: 0;
}
.panel-with-icon {
  padding-left: 18px;
}
.panel-icon,
.panel-tool {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  height: 16px;
  overflow: hidden;
}
.panel-icon {
  left: 5px;
  width: 16px;
}
.panel-tool {
  right: 5px;
  width: auto;
}
.panel-tool a {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  margin: 0 0 0 2px;
  vertical-align: top;
}
.panel-tool a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: rgb(26, 26, 27) !important;
  border-color: #f4c76d !important;
  color: #f1b53d !important;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}
.panel-loading {
  padding: 11px 0px 10px 30px;
}
.panel-noscroll {
  overflow: hidden;
}
.panel-fit,
.panel-fit body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
.panel-loading {
  background: url('/images/loading.gif') no-repeat 10px 10px;
}
.panel-tool-close {
  background: url('/images/panel_tools.png') no-repeat -16px 0px;
}
.panel-tool-min {
  background: url('/images/panel_tools.png') no-repeat 0px 0px;
}
.panel-tool-max {
  background: url('/images/panel_tools.png') no-repeat 0px -16px;
}
.panel-tool-restore {
  background: url('/images/panel_tools.png') no-repeat -16px -16px;
}
.panel-tool-collapse {
  background: url('/images/panel_tools.png') no-repeat -32px 0;
}
.panel-tool-expand {
  background: url('/images/panel_tools.png') no-repeat -32px -16px;
}
.panel-header,
.panel-body {
  border-color: #95B8E7;
}
.panel-header {
  background-color: #E0ECFF;
  background: -webkit-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
  background: -moz-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
  background: -o-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
  background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF,endColorstr=#E0ECFF,GradientType=0);
}
.panel-body {
  background-color: #ffffff;
  color: #000000;
  font-size: 13px;
}
.panel-title {
  font-size: 13px;
  font-weight: bold;
  color: #0E2D5F;
  height: 16px;
  line-height: 16px;
}
.panel-footer {
  border: 1px solid #95B8E7;
  overflow: hidden;
  background: #F4F4F4;
}
.panel-footer-noborder {
  border-width: 1px 0 0 0;
}


.textbox {
	background-color: rgb(26, 26, 27) !important;
  border-color: #f4c76d !important;
  color: #f1b53d !important;
  height: 1.8125rem !important;
  position: relative;
  border: 1px solid #95B8E7;
  background-color: rgb(26, 26, 27);
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 2px;
}

.textbox input:hover {
border-color: #f4c76d !important;	

}

div.has-danger .textbox{ 
     border-color: #d9534f !important;
}

.textbox .textbox-text {
  height: 1.8125rem  !important;
  font-size: 0.875rem;
  background-color: #ffffcc;
  border: 0;
  margin: 0;
  padding: 4px;
  white-space: normal;
  vertical-align: top;
  outline-style: none;
  resize: none;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 2px;
}



.textbox .textbox-text::-ms-clear,
.textbox .textbox-text::-ms-reveal {
  display: none;
}
.textbox textarea.textbox-text {
  white-space: pre-wrap;
}
.textbox .textbox-prompt {
  font-size: 13px;
  color: #aaa;
}
.textbox .textbox-bgicon {
  background-position: 3px center;
  padding-left: 21px;
}
.textbox .textbox-button,
.textbox .textbox-button:hover {
  position: absolute;
  top: 0;
  padding: 0;
  vertical-align: top;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.textbox-button-right,
.textbox-button-right:hover {
  border-width: 0 0 0 1px;
}
.textbox-button-left,
.textbox-button-left:hover {
  border-width: 0 1px 0 0;
}
.textbox-addon {
  position: absolute;
  top: 0;
}
.textbox-icon {
  display: inline-block;
  width: 18px;
  height: 20px;
  overflow: hidden;
  vertical-align: top;
  background-position: center center;
  cursor: pointer;
  opacity: 0.6;
  filter: alpha(opacity=60);
  text-decoration: none;
  outline-style: none;
}
.textbox-icon-disabled,
.textbox-icon-readonly {
  cursor: default;
}
.textbox-icon:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
.textbox-icon-disabled:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
/*.textbox-focused {
  border-color: #6b9cde;
  -moz-box-shadow: 0 0 3px 0 #95B8E7;
  -webkit-box-shadow: 0 0 3px 0 #95B8E7;
  box-shadow: 0 0 3px 0 #95B8E7;
}*/
.textbox-invalid {
  border-color: #ffa8a8;
  background-color: #fff3f3;
}
.filebox .textbox-value {
  vertical-align: top;
  position: absolute;
  top: 0;
  left: -5000px;
}
.filebox-label {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  left: 0;
  top: 0;
  z-index: 10;
  background: url('/images/blank.gif') no-repeat;
}
.l-btn-disabled .filebox-label {
  cursor: default;
}
.combo-arrow {

  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
   opacity: 1.0;
  filter: alpha(opacity=100);}
}
.combo-arrow-hover {
  opacity: 1.0;
  filter: alpha(opacity=100);}
.combo-panel {
  overflow: auto;
}
.combo-arrow {
  background: url('/images/combo_arrow.png') no-repeat center center;
  background-color: #f1b53d;
}
.combo-panel {
  background-color: rgb(26, 26, 27) !important;
  border-color: #f4c76d !important;
  color: #f1b53d !important;
}
.combo-arrow {
  color: rgb(26, 26, 27) !important;
}
.combo-arrow-hover {
 /* background-color:  rgb(26, 26, 27);*/
}
.combo-arrow:hover {
  /*background-color: rgb(26, 26, 27);*/
}
.combo .textbox-icon-disabled:hover {
  cursor: default;
}
.combobox-item,
.combobox-group,
.combobox-stick {
  font-size: 13px;
  padding: 3px;
}
.combobox-item-disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.combobox-gitem {
  padding-left: 10px;
}
.combobox-group,
.combobox-stick {
  font-weight: bold;
}
.combobox-stick {
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  background: inherit;
}
.combobox-item-hover {
  background-color: rgb(26, 26, 27);
  color: #000000;
}
.combobox-item-selected {
  background-color:rgb(26, 26, 27);
  color: #000000;
}
.combobox-icon {
  display: inline-block;
  background-color:rgb(26, 26, 27);
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 2px;
}

.tree {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.tree li {
  white-space: nowrap;
}
.tree li ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tree-node {
  height: 18px;
  white-space: nowrap;
  cursor: pointer;
}
.tree-hit {
  cursor: pointer;
}
.tree-expanded,
.tree-collapsed,
.tree-folder,
.tree-file,
.tree-checkbox,
.tree-indent {
  display: inline-block;
  width: 16px;
  height: 18px;
  vertical-align: top;
  overflow: hidden;
}
.tree-expanded {
  background: url('/images/tree_icons.png') no-repeat -113px 0px;
}
.tree-expanded-hover {
  background: url('/images/tree_icons.png') no-repeat -112px 0px;
}
.tree-collapsed {
  background: url('/images/tree_icons.png') no-repeat -97px 0px;
}
.tree-collapsed-hover {
  background: url('/images/tree_icons.png') no-repeat -96px 0px;
}
.tree-lines .tree-expanded,
.tree-lines .tree-root-first .tree-expanded {
  background: url('/images/tree_icons.png') no-repeat -112px 0;
}
.tree-lines .tree-collapsed,
.tree-lines .tree-root-first .tree-collapsed {
  background: url('/images/tree_icons.png') no-repeat -128px 0;
}
.tree-lines .tree-node-last .tree-expanded,
.tree-lines .tree-root-one .tree-expanded {
  background: url('/images/tree_icons.png') no-repeat -80px 0;
}
.tree-lines .tree-node-last .tree-collapsed,
.tree-lines .tree-root-one .tree-collapsed {
  background: url('/images/tree_icons.png') no-repeat -64px 0;
}
.tree-line {
  background: url('/images/tree_icons.png') no-repeat -176px 0;
}
.tree-join {
  background: url('/images/tree_icons.png') no-repeat -192px 0;
}
.tree-joinbottom {
  background: url('/images/tree_icons.png') no-repeat -160px 0;
}
.tree-folder {
  background: url('/images/tree_icons.png') no-repeat -192px 0;
}
.tree-folder-open {
  background: url('/images/tree_icons.png') no-repeat -192px 0;
}
.tree-file {
  background: url('/images/tree_icons.png') no-repeat -160px 0; 
}
.tree-loading {
  background: url('/images/loading.gif') no-repeat center center;
}
.tree-checkbox0 {
  background: url('/images/tree_icons.png') no-repeat -208px -18px;
}
.tree-checkbox1 {
  background: url('/images/tree_icons.png') no-repeat -224px -18px;
}
.tree-checkbox2 {
  background: url('/images/tree_icons.png') no-repeat -240px -18px;
}
.tree-title {
  font-size: 13px;
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  padding: 0 2px;
  height: 18px;
  line-height: 18px;
}
.tree-node-proxy {
  font-size: 13px;
  line-height: 20px;
  padding: 0 2px 0 20px;
  border-width: 1px;
  border-style: solid;
  z-index: 9900000;
}
.tree-dnd-icon {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 18px;
  left: 2px;
  top: 50%;
  margin-top: -9px;
}
.tree-dnd-yes {
  background: url('/images/tree_icons.png') no-repeat -256px 0;
}
.tree-dnd-no {
  background: url('/images/tree_icons.png') no-repeat -256px -18px;
}
.tree-node-top {
  border-top: 1px dotted red;
}
.tree-node-bottom {
  border-bottom: 1px dotted red;
}
.tree-node-append .tree-title {
  border: 1px dotted red;
}
.tree-editor {
  border: 1px solid #95B8E7;F
  font-size: 13px;
  line-height: 16px;
  padding: 0 4px;
  margin: 0;
  width: 80px;
  outline-style: none;
  vertical-align: top;
  position: absolute;
  top: 0;
}
.tree-node-proxy {
  background-color: rgb(241, 181, 61);
  color: #000000;
  border-color: #95B8E7;
}
.tree-node-hover {
  background: rgb(241, 181, 61);
  color: #000000;
}
.tree-node-selected {
  background: rgb(241, 181, 61);
  color: #000000;
}
.tree-node-hidden {
  display: none;
}

