@charset "utf-8";
/* CSS Document */
/* ICE THEME */
:root {
    --header-bg: #004d73; 
    --header-title: #dbebfa;
	--header-title-hover: #44a2d0;

    --nav-bar-bg: #44a2d0;
    --nav-bar-link: #004d73; 
	--nav-bar-link-hover: #000000;	

    --mobile-menu-bg: #44a2d0;	
    --mobile-link-color: #004d73;
    --stickybar: #44a2d0; 	
}
a[href*="/scp/login.php"], 
a[href*="/scp/logout.php"] {
    background: initial !important;
}
/* extras */
#complianceouter {
	background: #2e5b71;
}
#complaince-button {
    background: #1f3f4e;
}
#complaince-button-label {
    color: #fff;
}
a#complaince-button-link:hover > #complaince-button, 
a#complaince-button-link:focus > #complaince-button,
a#complaince-button-link:active > #complaince-button {
	background: #0d1c23;
}
/* basic search field */
form[action="kb.php"] input#query::placeholder,
form[action="orgs.php"] input.basic-search::placeholder,
form[action="users.php"] input.basic-search::placeholder,
form[action="tasks.php"] input.basic-search::placeholder,
form[action="tickets.php"] input.basic-search::placeholder {
    color: var(--header-bg) !important;
}
form[action="kb.php"] input#query::-moz-placeholder,
form[action="orgs.php"] input.basic-search::-moz-placeholder,
form[action="users.php"] input.basic-search::-moz-placeholder,
form[action="tasks.php"] input.basic-search::-moz-placeholder,
form[action='tickets.php'] input.basic-search::-moz-placeholder {
    color: var(--header-bg) !important;
}
form[action="kb.php"] input#query::-ms-input-placeholder,
form[action="orgs.php"] input.basic-search::-ms-input-placeholder,
form[action="users.php"] input.basic-search::-ms-input-placeholder,
form[action="tasks.php"] input.basic-search::-ms-input-placeholder,
form[action='tickets.php'] input.basic-search::-ms-input-placeholder {
    color: var(--header-bg) !important;
}
form[action="kb.php"] .button.attached, 
form[action="orgs.php"] .button.attached, 
form[action="users.php"] .button.attached, 
form[action="tasks.php"] .button.attached, 
form[action="tickets.php"] .button.attached {
	content: ' ';	
	display: inline-block;
    width: 20px;
    height: 20px;	
    background-size: 20px !important;	
background-image: url("data:image/svg+xml;charset=utf-8, %3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath fill='%23004d73' d='M9.5%2C3A6.5%2C6.5 0 0%2C1 16%2C9.5C16%2C11.11 15.41%2C12.59 14.44%2C13.73L14.71%2C14H15.5L20.5%2C19L19%2C20.5L14%2C15.5V14.71L13.73%2C14.44C12.59%2C15.41 11.11%2C16 9.5%2C16A6.5%2C6.5 0 0%2C1 3%2C9.5A6.5%2C6.5 0 0%2C1 9.5%2C3M9.5%2C5C7%2C5 5%2C7 5%2C9.5C5%2C12 7%2C14 9.5%2C14C12%2C14 14%2C12 14%2C9.5C14%2C7 12%2C5 9.5%2C5Z' /%3E %3C/svg%3E") !important;
}