.htaccess
php53.cgi
include/ost-config.php
setup/cli/modules/importer
*.sw[a-z]
.DS_Store
.vagrant
._.DS_Store
Vagrantfile

# Staging directory used for packaging script
stage

# Ignore packaged plugins and language packs
*.phar
