@import url("../../css/font-awesome.min.css");
body { background: url('../images/background.jpg?1312906017') top left repeat-x white; font-family: arial, helvetica, sans-serif; font-size: 10pt; color: #000; margin: 0; padding: 0; line-height: 1.3em; }

#wizard { background: #fff; width: 800px; margin: 30px auto; padding: 10px; border: 1px solid #2a67ac; border-right: 2px solid #2a67ac; border-bottom: 3px solid #2a67ac; overflow: hidden; margin-bottom:5px;}

a { color: #2a67ac; display: inline-block; }

/* Helpers */
.centered {text-align: center;}
.clear { clear:both; height: 1px; visibility: none;}
.hidden { display: none;}
.error { color:#f00;}

#header { min-height: 72px; margin-bottom: 20px; width: 100%; }
#header #logo { width: auto; height: 72px; margin-right: 3em; float: left; }
#header .info { font-size: 11pt; font-weight: bold; border-bottom: 1px solid #2a67ac; color: #444; text-align: right; float: right; }
#header ul { margin: 0; padding: 0; text-align: right; }
#header ul li { list-style: none; margin: 5px 0 0 0; padding: 0; }
#header ul li a { color: #F3811C; text-decoration: none; white-space: nowrap; }
#header ul li a:hover { color: #2a67ac; }

#sidebar { width: 180px; padding: 10px; border: 1px solid #C8DDFA; float: right; background: #F7FBFE; }
#sidebar h3 { font-size: 10pt; margin: 0 0 5px 0; padding: 0; padding-left: 32px; background: url('../images/cog.png?1312913866') top left no-repeat; line-height: 1.2em; color: #2a67ac; min-height: 24px; }

#footer { color:#ccc; }
#footer a, #footer a:hover { text-decoration:none; color:#ccc; }

#main { width: 580px; float: left; }
#main h1 { margin: 0; padding: 0; fontsize: 21pt; font-weight: normal; }
#main h2 { font-size: 15pt; margin: 0; padding: 0; }
#main h3 { font-size: 10pt; margin: 0; padding: 0; }
#main div#intro { padding-bottom: 5px; margin-bottom:10px; border-bottom: 1px solid #aaaaaa; }
#main  { padding-bottom: 20px; }

#main.step2 { width: 800px !important; }

ul.progress { margin: 10px 0 20px 20px; padding: 0; }
ul.progress li { list-style: none; margin: 0; padding: 0 0 2px 24px; background: url('../images/incomplete.png?1312910844'); background-repeat: no-repeat; background-position: 0 50%; }
ul.progress li.yes { background-image: url('../images/yes.png?1312906296'); }
ul.progress li.no { background-image: url('../images/no.png?1312906277'); }

ul.progress li.yes small {color:green; }
ul.progress li.no small {color:red;}

#intro ul li + li {
    margin-top: 8px;
}

#bar { clear: both; padding-top: 10px; height: 24px; line-height: 24px; text-align: center; border-top: 1px solid #aaaaaa; }
#bar a, #bar .btn { display: inline-block; margin: 0; height: 24px; line-height: 24px; font-weight: bold; border: 1px solid #666666; text-decoration: none; padding: 0 10px; background: url('../images/grey_btn_bg.png?1312910883') top left repeat-x; color: #333; }
#bar a:hover, #bar .btn:hover, #bar .btnover { background-position: bottom left; }
#bar a.unstyled, #bar a.unstyled:hover { font-weight: normal; background: none; border: none; text-decoration: underline; color: #2a67ac; }

#bar.error { background: #ffd; text-align: center; color: #a00; font-weight: bold; }

form { margin: 0; padding: 0; }
form h4.head { display: block; clear: both; border-top: 1px solid #2a67ac; height: 16px; line-height: 16px; padding: 5px 5px 5px 24px; margin: 10px 0 0 0; font-size: 10pt; background-position: 5px 50%; background-repeat: no-repeat; background-color: #e7f1fd; }
form span.subhead { display: block; background: #f4f4f4; border-bottom: 1px solid #cccccc; margin-bottom: 3px; padding: 3px 5px 3px 24px; font-style: italic; font-size: 9pt; }
form h4.system { background-image: url('../images/system.png?1262713696'); }
form h4.admin { background-image: url('../images/user.png?1262713720'); }
form h4.database { background-image: url('../images/database.png?1262713698'); }
form h4.email { background-image: url('../images/email.png?1142218352'); }
form .row { clear: both; padding: 2px 0 0 24px; background: #F7FBFE; }
form .row input { background: #fff; height: 22px; padding: 0 5px; line-height: 22px; border: 1px solid #cccccc; }
form .row label, form .row span { display: block; line-height: 24px; padding: 0 5px; }
form .row span { width: 600px; color: #666666; }

.tip_box {
    display:block;
    height:30px;
    position:absolute;
    z-index:1000;
}

.tip_arrow {
    display:block;
    position:absolute;
    top:5px;
    left:-12px;
    width:12px;
    z-index:700;
}

.tip_box.right .tip_arrow {
    top: 5px;
    right: -12px;
    left: auto;
}

.flip-x {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.tip_content {
    height:auto !important;
    height:20px;
    min-height:20px;
    padding:10px;
    border:1px solid #666;
    background:#fff;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow: 3px 3px 3px #666;
    -webkit-box-shadow: 3px 3px 3px #666;
    box-shadow: 3px 3px 3px #666;
    z-index:500;
    position:absolute;
    top:0;
    left:-1px;
    min-width:400px;
    line-height: 1.15rem;
}

.tip_content .links {
    margin-top: 0.7em;
    padding-top: 0.4em;
    border-top: 1px solid #ddd;
}

.tip_content .links a {
    color: #548dd4;
}

.tip_content hr {

    color: #ddd;
    background-color: #ddd;
    height: 1px;
    border: 0;
    padding: 0;
    margin: 0.2em 0;
    width: 100%;
}

.tip_close {
    position:absolute;
    top:0.3em;
    right:0.5em;
    text-decoration:none;
}

.tip_shadow {
    display:none;
    background:#000;
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.60);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.60)";
    zoom: 1;
    position:absolute;
    z-index:200;
    top:0;
    left:0;
    width:auto !important;
    width:310px;
}

.tip_content h1 {
    font-size: 13pt;
    margin-top: 0;
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid #ddd;
    padding-right: 1.5em;
}

i.help-tip {
    vertical-align: inherit;
    color: #aaa;
}
i.help-tip:hover {
    color: black;
    cursor: pointer;
}

#overlay { display: none; position: fixed; background: #000; z-index: 2000; }

#loading { padding: 10px 10px 10px 60px; width: 400px; height: 150px; background: url('../images/ajax-loader.gif?1312925608') 10px 50% no-repeat white; position: fixed; display: none; z-index: 3000; }
#loading h4 { margin: 3px 0 0 0; padding: 0; color: #d80; }

div.flags { text-align: right; margin-top: 5px; }
a.flag { text-decoration: none; }

.tip { display: inline-block; width: 16px; height: 16px; outline: none; text-decoration: none; color: #d80; margin-left: 5px; }
.rtl .tip { margin-right: 5px;}

#links { margin: 10px 0; }

.rtl ul.progress li.yes, .rtl ul.progress li.no { background-position: 100%; }
.rtl ul.progress li { padding-left: 0; padding-right: 24px; }
.rtl form h4.head { padding-right: 24px; background-position: right center; background-position: calc(100% - 5px); }
.rtl form .subhead { padding-right: 24px; }
.rtl #header #logo { float: right; margin: 0; margin-left: 3em; }
.rtl #header .info, .rtl #header ul, .rtl div.flags { text-align:left; }
.rtl #header .info { float: left; }
.rtl .ltr { text-align: right; }
.ltr {
    direction: ltr;
    unicode-bidi: embed;
}
