/* Typography */
form, fieldset {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Alerts & Notices */
#msg_notice { margin: 0; padding: 5px 10px 5px 36px; margin-top: 10px; margin-bottom: 10px; border: 1px solid #0a0; background: url('../images/icons/ok.png') 10px 50% no-repeat #e0ffe0; }

#msg_warning { margin: 0; padding: 5px 10px 5px 36px; margin-top: 10px; margin-bottom: 10px; border: 1px solid #f26522; background: url('../images/icons/alert.png') 10px 50% no-repeat #ffffdd; }

#msg_error { margin: 0; padding: 5px 10px 5px 36px; margin-bottom: 10px; margin-top: 10px; border: 1px solid #a00; background: url('../images/icons/error.png') 10px 50% no-repeat #fff0f0; }

.warning {
  background: #ffc;
  font-style: italic;
  strong {
    text-transform: uppercase;
    color: #a00;
    font-style: normal;
  }
}

.error {
  color:#f00;
  input {
    border:1px solid #f00;
  }
}

.panel-body {
  .headline,
  &>h1,
  &>h2,
  &>h3,
  &>h4,
  &>h5,
  &>h6 {
    margin-top: 0;
  }
}
