// body {
// background: url('../images/page_bg.png') top left repeat-x #c8c8c8;
// }

#container {
  &:extend(.container);
}

#header {
  position: relative;
  margin-top: 20px;

  @media(min-width: 991px) {
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    align-items: center;
  }

  #logo {
    .make-sm-column(6);

    img {
      max-width: 100%;
    }
  } 

  p {
    width: 400px;
    text-align: right;
    margin: 0;
    padding: 10px 0;
    float: right;
  }

  .pull-right.flush-right {
    .make-md-column(6);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    p {
      a {
        &:extend(.btn);
        &:extend(.btn-primary);
        text-decoration: none;
      }
    }
  }
}

#navigation-bar {
  margin: 0;

  .icons(@option: "\f015") {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: @option;
    margin-right: 5px;
  }

  .not-registered {
    color: #fff;
    cursor: default;
  }

  a.home    {
    &::before {
      .icons("\f015");
    }
  }
  a.kb      {
    &::before {
      .icons("\f187");
    }
  }
  a.new     {
    &::before {
      .icons("\f067");
    }
  }
  a.status  {
    &::before {
      .icons("\f03a");
    }
  }
  a.tickets {
    &::before {
      .icons("\f145");
    }
  }
}

#content {
  padding: 0;
  display: inline-block;
  width: 100%;
}

#footer {
  text-align: center;
  font-size: 12px;
  color: #000;
  background: #f0f0f0;
  padding: 15px 0;

  a {
    color: #333;
  }

  p {
    margin: 0;
  }

  #poweredBy {
    display: inline-block;
    margin-top: 15px;

    img {
      max-width: 100%;
    }
  }
}