#ticketForm, #clientLogin {
    label {
    white-space: nowrap;
    text-align: left;
      .required {
        font-weight: bold;
      }
    }
    
    input[type=file] {
      border: 0;
    }
    
    div.captchaRow {
      line-height: 31px;

      input {
        position: relative;
        top: 6px;
      }
    }

  }

  div {
    textarea {
      width: 100%;
    }

    em {
      color: #777;
    }

    .captcha {
      width: 88px;
      height: 31px;
      background: #000;
      display: block;
      float: left;
      margin-right: 20px;
    }

    label.inline {
      width: auto;
      padding: 0 10px;
    }
  }

  div.error {
    input {
      border: 1px solid #a00;
    }
    label {
      color: #a00;
    }
  }

#clientLogin {
  background: url('../images/lock.png?1319655200') 95% 30% no-repeat #f6f6f6;
}

#reply {
  margin-top: 20px;
  padding: 10px 5px;
  background: #f9f9f9;
  border: 1px solid #ccc;

  h2 {
    margin-bottom: 10px;
  }

  .attachments .uploads div {
    display: inline-block;
    padding-right: 20px;
  }
  .file {
    display: inline-block;
    padding-left: 20px;
    margin-right: 20px;
    background: url('../images/icons/file.gif') 0 50% no-repeat;
  }
}

.uploads {
  display:inline-block;
  padding-right:20px;

  label {
    padding:3px;
    padding-right:10px;
    width: auto !important
  }
}
