#ticketForm, #clientLogin {
  div.clear {
    clear: both;
    padding: 3px 0;
    overflow: hidden;
  }
  div {
    label {
      display: block;
    }

    span.required,
    label.required {
        text-align: left;
        font-weight: bold;
    }

    input, textarea {
      width: auto;
      border: 1px solid #aaa;
      background: #fff;
      display: block;
    }

    input[type=file] {
      border: 0;
    }

    select {
      display: block;
      float: left;
    }
    div.captchaRow {
      line-height: 31px;

      input {
        position: relative;
        top: 6px;
      }
    }
  }

  > table {
    table-layout: fixed;

    td {
      width: 160px;
    
      + td {
        width: auto;
      }
    }
  }

  td, div {
    textarea {
      width: 600px;
    }

    em {
      color: #777;
    }

    .captcha {
      width: 88px;
      height: 31px;
      background: #000;
      display: block;
      float: left;
      margin-right: 20px;
    }

    label.inline {
      width: auto;
      padding: 0 10px;
    }
  }

  div.error {
    input {
      border: 1px solid #a00;
    }
    label {
      color: #a00;
    }
  }
}

#ticketTable {
  th {
    padding-left: 3px;
    font-weight: normal;
    text-align: left;
  }
  th.required, td.required {
    font-weight: bold;
    text-align: left;
  }
}

.rtl {
  #clientLogin {
    background-position: 5% 50%;
  
    .instructions {
      padding-left: 0;
      padding-right:0;
      padding-right: 2em;
      padding-left:90px;
    }
  }
}

#clientLogin {
  display: block;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  background: url('../images/lock.png?1319655200') 95% 50% no-repeat #f6f6f6;

  .instructions {
    display:table-cell;
    padding-left: 2em;
    padding-right:90px;
  }

  p {
    clear: both;
  }

  strong {
    font-size: 11px;
    color: #d00;
    display: block;
  }

  #email,
  #ticketno {
    margin-right: 0;
  }

  input[type=text],
  input[type=password],
  input[type=submit] {
    border-radius: 4px;
  }
  input[type=text],
  input[type=password] {
    padding: 5px;
    margin-bottom: 15px;
  }
  input[type=submit] {
    padding: 3px 10px;
  }
}

#reply {
  margin-top: 5px;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ccc;

  h2 {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px dotted rgba(0,0,0,0.1);
  }

  > table {
    width: auto;
  }
  table {
    td {
      vertical-align: top;
    }
  }

  textarea {
    width: 628px !important;
  }

  input[type=text], #response_options textarea {
    border: 1px solid #aaa;
    background: #fff;
  }

  .attachments .uploads div {
    /* TO CHECK */
    display: inline-block;
    padding-right: 20px;
  }
  .file {
    /* TO CHECK */
    display: inline-block;
    padding-left: 20px;
    margin-right: 20px;
    background: url('../images/icons/file.gif') 0 50% no-repeat;
  }
}

.uploads {
  /* TO CHECK */
  display:inline-block;
  padding-right:20px;

  label {
    /* TO CHECK */
    padding:3px;
    padding-right:10px;
    width: auto !important
  }
}