<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <?js if (title == 'Home') { ?>
  <title>Bootstrap Colorpicker, a color picker component for jQuery, compatible with Twitter Bootstrap.</title>
  <?js } else { ?>
  <title>Bootstrap Colorpicker | <?js= title ?> - Documentation</title>
  <?js } ?>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-zF4BRsG/fLiTGfR9QL82DrilZxrwgY/+du4p/c7J72zZj+FLYq4zY00RylP9ZjiT" crossorigin="anonymous">
  <link href="dist/css/bootstrap-colorpicker.css" rel="stylesheet">

  <?js if(
      env.conf.templates && env.conf.templates.default && env.conf.templates.default.searchBox &&
      env.conf.templates.default.searchBox.enabled !== false
     ) { var searchBoxConfig = env.conf.templates.default.searchBox; ?>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css"/>
  <?js } ?>

  <link type="text/css" rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
  <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">

  <!-- This needs to be loaded before the examples scripts: -->
  <script src="//code.jquery.com/jquery-3.2.1.js"></script>
  <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.js"></script>-->
  <script src="dist/js/bootstrap-colorpicker.js"></script>
</head>
<body>
<div class="container-fluid">
  <div class="row is-flex">
    <nav class="main-nav col-md-3 col-lg-2">
      <?js= this.nav ?>
    </nav>

    <div class="main-content col-md-9 col-lg-10">
      <div id="main" class="main-content-wrapper">
        <?js if (title != 'Home') { ?>
        <h1 class="page-title"><?js= title ?></h1>
        <?js } ?>

        <?js= content ?>
      </div>
    </div>
  </div>
  <div class="row">
    <footer class="col-md-12 main-footer">
      Generated by <a
      href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a>
      <?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?>
      on <?js= (new Date()) ?><?js } ?> using a custom Minami theme. Search powered by Algolia.
    </footer>
  </div>
</div>


<script src="scripts/prettify/prettify.js"></script>
<script src="scripts/prettify/lang-css.js"></script>
<script>prettyPrint();</script>
<script src="scripts/linenumber.js"></script>

<?js if(searchBoxConfig) { ?>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
  apiKey: '<?js= searchBoxConfig.algoliaApiKey ?>',
  indexName: '<?js= searchBoxConfig.algoliaIndexName ?>',
  inputSelector: '.search-box input',
  algoliaOptions: {
    hitsPerPage: 10
  },
  debug: false // Set debug to true if you want to inspect the dropdown
});
</script>
<?js } ?>
</body>
</html>
