<?xml version="1.0" encoding="utf-8" ?>
<phpunit>
<testsuite name='AttachmentPreviewPluginTestSuite'>
    <directory suffix='.php'>./tests</directory>
</testsuite>
<filter>
  <whitelist processUncoveredFilesFromWhitelist="true">
    <directory suffix=".php">./</directory>
    <file></file>
  </whitelist>
</filter>
</phpunit>
