/* Typography */
a {
  color: #0072bc;
  text-decoration: none;
}
h1 {
  color: #00AEEF;
  font-weight: normal;
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
h2 {
  font-size: 16px;
  color: #999;
}
/* Pagination */
#pagination {
  border: 0;
  margin: 0 0 40px 0;
  padding: 0;
}
#pagination li {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 11px;
  list-style: none;
  display: inline;
}
#pagination li a {
  margin-right: 2px;
  display: block;
  float: left;
  padding: 3px 6px;
  text-decoration: none;
}
#pagination li a:hover {
  color: #ff0084;
}
#pagination .previousOff,
#pagination .nextOff {
  color: #666;
  display: block;
  float: left;
  font-weight: bold;
  padding: 3px 4px;
}
#pagination .next a,
#pagination .previous a {
  font-weight: bold;
}
#pagination .active {
  color: #000;
  font-weight: bold;
  margin-right: 2px;
  display: block;
  float: left;
  padding: 3px 6px;
  text-decoration: none;
}
/* Alerts & Notices */
#msg_notice {
  margin-top: 1em;
  padding: 5px 10px 5px 36px;
  background: url('../images/icons/ok.png') 10px 50% no-repeat #e0ffe0;
}
#msg_warning {
  margin-top: 1em;
  padding: 5px 10px 5px 36px;
  background: url('../images/icons/alert.png') 10px 50% no-repeat #ffffdd;
}
#msg_error {
  margin-top: 1em;
  padding: 5px 10px 5px 36px;
  background: url('../images/icons/error.png') 10px 50% no-repeat #fff0f0;
}
body {
  background-color: #c8c8c8;
}
#container {
  max-width: 840px;
}
a.navbar-brand {
  padding: 5px;
}
a.navbar-brand img {
  max-height: 45px;
  max-width: 220px;
}
.navbar-toggle {
  border: solid gray 1px;
}
.navbar-toggle span {
  border: solid gray 1px;
}
#nav li {
  white-space: nowrap;
}
#nav li a.home:before,
#nav li a.kb:before,
#nav li a.new:before,
#nav li a.status:before,
#nav li a.tickets:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  float: left;
}
#nav li a.home:before {
  background: url('../images/icons/home.png') no-repeat;
}
#nav li a.kb:before {
  background: url('../images/icons/kb.png') no-repeat;
}
#nav li a.new:before {
  background: url('../images/icons/new.png') no-repeat;
}
#nav li a.status:before {
  background: url('../images/icons/status.png') no-repeat;
}
#nav li a.tickets:before {
  background: url('../images/icons/tix.png') no-repeat;
}
#nav .dropdown-menu > li a.home,
#nav .dropdown-menu > li a.kb,
#nav .dropdown-menu > li a.new,
#nav .dropdown-menu > li a.status,
#nav .dropdown-menu > li a.tickets {
  padding-right: 40px;
}
#footer {
  text-align: center;
}
#footer p {
  margin: 10px 0 0 0;
}
#footer #poweredBy {
  display: block;
  width: 126px;
  height: 23px;
  outline: none;
  text-indent: -9999px;
  margin: 0 auto;
  background: url('../images/poweredby.png') top left no-repeat;
  background-size: contain;
}
#kb {
  margin: 2px 0;
  padding: 5px;
  overflow: hidden;
}
#kb > li {
  padding: 10px;
  height: auto !important;
  overflow: hidden;
  margin: 0;
  background: url(../images/kb_category_bg.png) bottom left repeat-x;
  border-bottom: 1px solid #ddd;
}
#kb > li h4 {
  padding-bottom: 3px;
  margin-bottom: 3px;
}
#kb > li h4 span {
  color: #666;
}
#kb > li h4 a {
  font-size: 14px;
}
#kb li i {
  display: block;
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 6px;
  background: url(../images/kb_large_folder.png) top left no-repeat;
}
#kb-search {
  padding: 10px 0;
  overflow: hidden;
}
#kb-search div {
  clear: both;
  overflow: hidden;
  padding-top: 5px;
}
#kb-search #query {
  margin: 0;
  display: inline-block;
  float: left;
  width: 200px;
  margin-right: 5px;
}
#kb-search #cid {
  margin: 0;
  display: inline-block;
  float: left;
  width: 200px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
#kb-search #topic-id {
  margin: 0;
  display: inline-block;
  float: left;
  width: 410px;
}
#kb-search #searchSubmit {
  margin: 0;
  display: inline-block;
  float: left;
  position: relative;
  top: 2px;
}
#kb-search #breadcrumbs {
  color: #333;
  margin-bottom: 15px;
}
#kb-search #breadcrumbs #breadcrumbs a {
  color: #555;
}
#ticketForm table,
#clientLogin table {
  width: 100%;
}
#ticketForm input[type=file],
#clientLogin input[type=file] {
  border: 0;
}
#ticketForm div.captchaRow,
#clientLogin div.captchaRow {
  line-height: 31px;
}
#ticketForm div.captchaRow input,
#clientLogin div.captchaRow input {
  position: relative;
  top: 6px;
}
#ticketForm div textarea,
#clientLogin div textarea {
  width: 600px;
}
#ticketForm div .captcha,
#clientLogin div .captcha {
  width: 88px;
  height: 31px;
  background: #000;
  display: block;
  float: left;
  margin-right: 20px;
}
#ticketForm div label.inline,
#clientLogin div label.inline {
  width: auto;
  padding: 0 10px;
}
#clientLogin {
  background: url('../images/lock.png?1319655200') 95% 50% no-repeat #f6f6f6;
}
#reply {
  background: #f9f9f9;
  border: 1px solid #ccc;
}
#reply h2 {
  margin-bottom: 10px;
}
#reply textarea {
  width: 628px !important;
}
#reply input[type=text],
#reply #response_options textarea {
  border: 1px solid #aaa;
  background: #fff;
}
#reply .attachments .uploads div {
  display: inline-block;
  padding-right: 20px;
}
#reply .file {
  display: inline-block;
  padding-left: 20px;
  margin-right: 20px;
  background: url('../images/icons/file.gif') 0 50% no-repeat;
}
.uploads {
  display: inline-block;
  padding-right: 20px;
}
.uploads label {
  padding: 3px;
  padding-right: 10px;
  width: auto !important;
}
/* Ticket icons */
.Icon {
  width: auto;
  padding-left: 20px;
  background-position: top left;
  background-repeat: no-repeat;
  color: #006699;
  text-decoration: none;
}
.Icon.Ticket {
  background-image: url('../images/icons/ticket.gif');
}
.Icon.webTicket {
  background-image: url('../images/icons/ticket_source_web.gif');
}
.Icon.emailTicket {
  background-image: url('../images/icons/ticket_source_email.gif');
}
.Icon.phoneTicket {
  background-image: url('../images/icons/ticket_source_phone.gif');
}
.Icon.otherTicket {
  background-image: url('../images/icons/ticket_source_other.gif');
}
.Icon.attachment {
  background-image: url('../images/icons/attachment.gif');
}
.Icon.file {
  background-image: url('../images/icons/attachment.gif');
}
.Icon.refresh {
  background-image: url('../images/icons/refresh.gif');
}
.Icon.thread {
  font-weight: bold;
  font-size: 1em;
  background-image: url('../images/icons/thread.gif?1319556657');
}
.Icon:hover {
  text-decoration: underline;
}
#ticketInfo {
  width: 100%;
}
#ticketInfo th {
  width: 125px;
}
#ticketTable {
  border: 1px solid #aaa;
  border-left: none;
  border-bottom: none;
}
#ticketTable caption {
  padding: 5px;
  text-align: left;
  color: #000;
  background: #ddd;
  border: 1px solid #aaa;
  border-bottom: none;
  font-weight: bold;
}
#ticketTable th {
  height: 24px;
  line-height: 24px;
  background: #e1f2ff;
  border: 1px solid #aaa;
  border-right: none;
  border-top: none;
}
#ticketTable th a {
  color: #000;
}
#ticketTable td {
  padding: 2px;
  border: 1px solid #aaa;
  border-right: none;
  border-top: none;
}
#ticketTable tr.alt td {
  background: #f9f9f9;
}
#ticketSearchForm {
  display: inline-block;
  float: left;
  padding: 0 0 5px 0;
}
a.refresh {
  display: block;
  width: auto;
  float: right;
  height: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0 10px 0 28px;
  border: 1px solid #aaa;
  margin-left: 10px;
  color: #333;
  background-position: 5px 50%;
  background-repeat: no-repeat;
  background-image: url('../images/icons/refresh.png');
}
.infoTable {
  background: #F4FAFF;
}
.infoTable th {
  text-align: left;
}
#ticketThread table {
  margin-top: 10px;
  border: 1px solid #aaa;
  border-bottom: 2px solid #aaa;
}
#ticketThread table th {
  text-align: left;
  border-bottom: 1px solid #aaa;
  font-size: 12px;
  padding: 5px;
}
#ticketThread table th span {
  font-weight: normal;
  color: #888;
  padding-left: 20px;
}
#ticketThread table td {
  padding: 5px;
}
#ticketThread .message th {
  background: #d8efff;
}
#ticketThread .response th {
  background: #ddd;
}
#ticketThread .info {
  padding: 2px;
  background: #f9f9f9;
  border-top: 1px solid #ddd;
  height: 16px;
  line-height: 16px;
}
#ticketThread .info a {
  display: inline-block;
  margin: 5px 10px 5px 0;
  padding-left: 24px;
  height: 16px;
  line-height: 16px;
  background-position: 0 50%;
  background-repeat: no-repeat;
}
