/* Typography */
a {
  color: #0072bc;
  text-decoration: none;
}
h1 {
  color: #00AEEF;
  font-weight: normal;
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
h2 {
  font-size: 16px;
  color: #999;
}
/* Pagination */
#pagination {
  border: 0;
  margin: 0 0 40px 0;
  padding: 0;
}
#pagination li {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 11px;
  list-style: none;
  display: inline;
}
#pagination li a {
  margin-right: 2px;
  display: block;
  float: left;
  padding: 3px 6px;
  text-decoration: none;
}
#pagination li a:hover {
  color: #ff0084;
}
#pagination .previousOff,
#pagination .nextOff {
  color: #666;
  display: block;
  float: left;
  font-weight: bold;
  padding: 3px 4px;
}
#pagination .next a,
#pagination .previous a {
  font-weight: bold;
}
#pagination .active {
  color: #000;
  font-weight: bold;
  margin-right: 2px;
  display: block;
  float: left;
  padding: 3px 6px;
  text-decoration: none;
}
/* Alerts & Notices */
#msg_notice {
  margin-top: 1em;
  padding: 5px 10px 5px 36px;
  background: url('../images/icons/ok.png') 10px 50% no-repeat #e0ffe0;
}
#msg_warning {
  margin-top: 1em;
  padding: 5px 10px 5px 36px;
  background: url('../images/icons/alert.png') 10px 50% no-repeat #ffffdd;
}
#msg_error {
  margin-top: 1em;
  padding: 5px 10px 5px 36px;
  background: url('../images/icons/error.png') 10px 50% no-repeat #fff0f0;
}
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #c8c8c8;
}
#container {
  max-width: 840px;
  margin: 0 auto;
}
.navbar img {
  height: 50px;
  margin-top: -1em;
}
#nav li {
  white-space: nowrap;
}
#nav li a:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  float: left;
}
#nav li a.home:before {
  background: url('../images/icons/home.png') no-repeat;
}
#nav li a.kb:before {
  background: url('../images/icons/kb.png') no-repeat;
}
#nav li a.new:before {
  background: url('../images/icons/new.png') no-repeat;
}
#nav li a.status:before {
  background: url('../images/icons/status.png') no-repeat;
}
#nav li a.tickets:before {
  background: url('../images/icons/tix.png') no-repeat;
}
.navbar-toggle {
  border: solid gray 1px;
}
.navbar-toggle span {
  border: solid gray 1px;
}
#footer {
  text-align: center;
}
#footer p {
  margin: 10px 0 0 0;
}
#footer #poweredBy {
  display: block;
  width: 126px;
  height: 23px;
  outline: none;
  text-indent: -9999px;
  margin: 0 auto;
  background: url('../images/poweredby.png') top left no-repeat;
  background-size: contain;
}
#landing_page #new_ticket,
#landing_page #check_status {
  margin-top: 40px;
  padding-left: 75px;
}
#landing_page #new_ticket h3,
#landing_page #check_status h3 {
  margin-bottom: 1em;
}
#landing_page #new_ticket div,
#landing_page #check_status div {
  height: 50px;
  margin-bottom: 2em;
}
#landing_page #new_ticket {
  background: url('../images/new_ticket_icon.png') top left no-repeat;
}
#landing_page #check_status {
  background: url('../images/check_status_icon.png') top left no-repeat;
}
/* Landing page FAQ not yet implemented. */
#faq {
  clear: both;
  margin: 0;
  padding: 5px;
}
#faq ol {
  font-size: 15px;
  margin-left: 0;
  padding-left: 0;
  border-top: 1px solid #ddd;
}
#faq ol li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #999;
}
#faq ol li a {
  display: block;
  padding: 5px 0;
  height: auto !important;
  overflow: hidden;
  margin: 0;
  border-bottom: 1px solid #ddd;
  line-height: 16px;
  padding-left: 24px;
  background: url('../images/icons/page.png') 0 50% no-repeat;
}
#faq ol li a:hover {
  background-color: #e9f5ff;
}
#faq .article-meta {
  padding: 5px;
  background: #fafafa;
}
/* Forms */
#kb-search input,
#kb-search select {
  width: 100%;
  margin-bottom: .5em;
}
#ticketForm label,
#clientLogin label {
  white-space: nowrap;
  text-align: left;
}
#ticketForm label .required,
#clientLogin label .required {
  font-weight: bold;
}
#ticketForm input[type=file],
#clientLogin input[type=file] {
  border: 0;
}
#ticketForm div.captchaRow,
#clientLogin div.captchaRow {
  line-height: 31px;
}
#ticketForm div.captchaRow input,
#clientLogin div.captchaRow input {
  position: relative;
  top: 6px;
}
div textarea {
  width: 100%;
}
div em {
  color: #777;
}
div .captcha {
  width: 88px;
  height: 31px;
  background: #000;
  display: block;
  float: left;
  margin-right: 20px;
}
div label.inline {
  width: auto;
  padding: 0 10px;
}
div.error input {
  border: 1px solid #a00;
}
div.error label {
  color: #a00;
}
#clientLogin {
  background: url('../images/lock.png?1319655200') 95% 30% no-repeat #f6f6f6;
}
#reply {
  margin-top: 20px;
  padding: 10px 5px;
  background: #f9f9f9;
  border: 1px solid #ccc;
}
#reply h2 {
  margin-bottom: 10px;
}
#reply .attachments .uploads div {
  display: inline-block;
  padding-right: 20px;
}
#reply .file {
  display: inline-block;
  padding-left: 20px;
  margin-right: 20px;
  background: url('../images/icons/file.gif') 0 50% no-repeat;
}
.uploads {
  display: inline-block;
  padding-right: 20px;
}
.uploads label {
  padding: 3px;
  padding-right: 10px;
  width: auto !important;
}
/* Ticket icons */
.Icon {
  width: auto;
  padding-left: 20px;
  background-position: top left;
  background-repeat: no-repeat;
  text-decoration: none;
}
.Icon.Ticket {
  background-image: url('../images/icons/ticket.gif');
}
.Icon.webTicket {
  background-image: url('../images/icons/ticket_source_web.gif');
}
.Icon.emailTicket {
  background-image: url('../images/icons/ticket_source_email.gif');
}
.Icon.phoneTicket {
  background-image: url('../images/icons/ticket_source_phone.gif');
}
.Icon.otherTicket {
  background-image: url('../images/icons/ticket_source_other.gif');
}
.Icon.attachment {
  background-image: url('../images/icons/attachment.gif');
}
.Icon.file {
  background-image: url('../images/icons/attachment.gif');
}
.Icon.refresh {
  background-image: url('../images/icons/refresh.gif');
}
.Icon.thread {
  font-weight: bold;
  font-size: 1em;
  background-image: url('../images/icons/thread.gif?1319556657');
}
.Icon:hover {
  text-decoration: underline;
}
#ticketTable {
  width: 100%;
}
#ticketSearchForm {
  display: inline-block;
  float: left;
  padding: 0 0 5px 0;
}
a.refresh {
  display: block;
  width: auto;
  float: right;
  height: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0 10px 0 28px;
  margin-left: 10px;
  background-position: 5px 50%;
  background-repeat: no-repeat;
  background-image: url('../images/icons/refresh.png');
}
.infoTable th {
  text-align: left;
  white-space: nowrap;
}
