<IfModule mod_rewrite.c>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.*/apps)

RewriteRule ^(.*)$ %1/dispatcher.php/$1 [L]

</IfModule>
